@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
    --moderateCyan: hsl(176, 50%, 47%);
    --darkCyan: hsl(176, 72%, 28%);
    --darkGray: hsl(0, 0%, 48%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    min-height: 100vh;
    font-family: 'Commissioner', sans-serif;
    background-color: hsla(0, 0%, 91%, 0.1);
}

header {
    height: 50vh;
    background-color: gray;
    color: white;
    padding: 1.5rem 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url('./images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

main {
    position: relative;
    /* width: 100%; */
    margin: -7rem 0px;
    padding: 10px;
}

.headerLogo {
    align-self: flex-start;
    width: 135px;
    object-fit: contain;
    margin-left: 1rem;
}

.hamburger-div { margin-right: 1rem; }

nav {
   position: absolute;
   top: 25%;
   left: 30%;
   width: 150px; 
   z-index: 1;
   border-radius: 10px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
   display: none;
}

.navList {
    width: 100%;
    list-style-type: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-items {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem 1rem;
    /* width: 100%; */

}
.nav-items a {
    color: black;
    text-decoration: none;
}
/* start of main */

.widthAndCentered {
    max-width: 775px;
    margin: 0 auto;
}

/* .bookmarkSection { */
    /* position: absolute;
    top: -110px;  */
    /* left: 50%; */
     /* transform: translate(50%, 50%); */

    /* ignore above css, tried centering with absolute position */
/* } */

.innerBookmarkSection {
    text-align: center;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 10px;
    margin: 2rem;
    padding: 1.5rem;
    background-color: white;
    position: relative;
}

.mastercraftLogo {
    position: absolute;
    top: -30px;
    left: 45%;
}

.product-name {
    font-size: 1.25rem;
    font-weight: 700;
}

.product-description {
    color: var(--darkGray);
    font-size: 14px;

}
.product-name, .product-description, .backProject {
    margin: 1.2rem;
}

.backProject {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.backProject-Btn {
    width: 150px;
    margin: 0px 1rem;
    padding: 1rem;
    border-radius: 30px;
    border: none;
    background-color: var(--moderateCyan);
    color: white;
    font-weight: 700;
    font-size: .775rem;
}

.bookmarkImg:hover, .backProject-Btn:hover {
    cursor: pointer;
}


/* backers section */
.innerBackedStatus {
    text-align: center;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .backedMoneySpan, .totalBackersSpan, .backedDaysLeftSpan {
    font-size: .875rem;
    font-weight: 400;
    color: var(--darkGray);
 }

.borderBottom {
    width: 70px;
    margin: 1.5rem auto;
    border-bottom: .5px solid var(--darkGray);
}

.progress-bar {
    width: 100%;
    margin: 15px auto;
    height: 12px;
    border-radius: 25px;
    background-color: rgba(0,0,0,.1);
}

.actual-progress {
    width: 75%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--moderateCyan);
}

/* about Project section */
.innerAboutProject {
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 10px;
    margin: 2rem;
    padding: 1.5rem; 
    background-color: white;
    
}

.about-Title {
    margin: 1rem 0px;
}

.about-Para{
    color: var(--darkGray);
    font-size: 14px;
    margin: 10px 0px;
    line-height: 25px;
}

.reward {
    max-width: 750px;
    margin: 2rem 0px;
    padding: 1.2rem;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rewardHeading {
    display: flex;
    flex-direction: column;
}

.rewardDescription {
    font-size: 14px;
    color: var(--darkGray);
    line-height: 25px;
}

.rewardStatus {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.pledgeAmount {
    color: var(--moderateCyan);
    font-weight: 500;
    margin: 5px 0px
}

.rewardButton {
    max-width: 150px;
    padding: .675rem;
    border-radius: 30px;
    border: none;
    background-color: var(--moderateCyan);
    color: white;
    font-weight: 700;
    font-size: .775rem;
    margin-top: 10px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




@media screen and (min-width: 768px) {
    header {
        background-image: url('./images/image-hero-desktop.jpg');
    }
    .backProject {
        justify-content: space-between;
    } 

    .product-name {
        font-size: 1.75rem;
    }
    .innerAboutProject {
        padding: 2rem;
    }
    .product-description, .about-Para, .rewardDescription {
        font-size: 1rem;
    }

    .spaceBetween {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    .borderBottom {
        display: none;
        border:none;
    }
    .borderRight {
        display: block;
        height: 50px;
        width: 1px;
        margin: 0px 30px;
        border-right: 1px solid rgba(0,0,0,.2);
        
    }
    .backedMoney, .totalBackers, .backedDaysLeft {
        font-size: 2rem;
    }
    .backedMoneySpan, .totalBackersSpan, .backedDaysLeftSpan {
        font-size: .950rem;
    }

    .reward {
        padding: 2rem 1.2rem;
    }
    .rewardHeading {
        flex-direction: row;
        justify-content: space-between;
    }

    .rewardStatus {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

} 