/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Moderate cyan: hsl(176, 50%, 47%)
- Dark cyan: hsl(176, 72%, 28%)

### Neutral

- Black: hsl(0, 0%, 0%)
- Dark gray: hsl(0, 0%, 48%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Commissioner](https://fonts.google.com/specimen/Commissioner)
- Weights: 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    min-height: 100vh;
    font-family: 'Commissioner', sans-serif;
}
header {
    height: 50vh;
    background-color: coral;
    color: white;
    padding: 2rem 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.headerLogo {
    align-self: flex-start;
    width: 120px;
    object-fit: contain;
    margin-left: 1rem;
}

.hamburger-div {
    
    margin-right: 1rem;
}
nav {
   background-color: red;
   position: absolute;
   top: 25%;
   left: 30%;

   width: 150px;
   
   z-index: 1;
   border-radius: 10px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.navList {
    width: 100%;
    list-style-type: none;
    height: 100%;
    background-color: white;
   
    /* width: 100%; */
    /* padding: 1rem 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-items {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem 1rem;
    /* width: 100%; */

}
.nav-items a {
    color: black;
    text-decoration: none;

}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }