/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Moderate cyan: hsl(176, 50%, 47%)
- Dark cyan: hsl(176, 72%, 28%)

### Neutral

- Black: hsl(0, 0%, 0%)
- Dark gray: hsl(0, 0%, 48%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Commissioner](https://fonts.google.com/specimen/Commissioner)
- Weights: 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
    --moderateCyan: hsl(176, 50%, 47%);
    --darkCyan: hsl(176, 72%, 28%);
    --darkGray: hsl(0, 0%, 48%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    min-height: 100vh;
    font-family: 'Commissioner', sans-serif;
}

header {
    height: 50vh;
    background-color: coral;
    color: white;
    padding: 1rem 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url('./images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    object-fit: contain;
}

main {
    position: relative;
    /* width: 100%; */
     
}

.headerLogo {
    align-self: flex-start;
    width: 135px;
    object-fit: contain;
    margin-left: 1rem;
}

.hamburger-div { margin-right: 1rem; }

nav {
   position: absolute;
   top: 25%;
   left: 30%;
   width: 150px; 
   z-index: 1;
   border-radius: 10px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
   display: none;
}

.navList {
    width: 100%;
    list-style-type: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-items {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem 1rem;
    /* width: 100%; */

}
.nav-items a {
    color: black;
    text-decoration: none;
}
/* start of main */

.widthAndCentered {
    max-width: 775px;
    margin: 0 auto;
}

/* .bookmarkSection { */
    /* position: absolute;
    top: -110px;  */
    /* left: 50%; */
     /* transform: translate(50%, 50%); */

    /* ignore above css, tried centering with absolute position */
/* } */

.innerBookmarkSection {
    text-align: center;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1rem;
    background-color: white;
    position: relative;
}

.mastercraftLogo {
    position: absolute;
    top: -30px;
    left: 45%;
}

.product-name, .product-description, .backProject {
    margin: 1.2rem;
}

.backProject {
    display: flex;
    justify-content: center;
    align-items: center;
}
.backProject-Btn {
    margin: 10px 1rem;
    padding: 1.2rem;
    border-radius: 30px;
    border: none;
    background-color: var(--moderateCyan);
    color: white;
    font-weight: 700;
}

.bookmarkImg:hover, .backProject-Btn:hover {
    cursor: pointer;
}

.innerBackedStatus {
    text-align: center;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1rem;
    background-color: white;
 }


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




